.btn {
    padding: 12px 15px; 
    font-family: Arial, sans-serif; 
    font-weight: bold;
    background: linear-gradient(30deg, #88719f, rgb(163, 207, 62)); 
    color: #fff; 
    border: none;
    /* padding: 0 20px; */
}


.myclass   {
    margin-top: 30px;
    width: 400px;
    margin: 0 auto;
    height: 300px;
}

.myclass form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.err {
    color: red;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }